.header{
    background: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &-button{
        text-decoration: none;
    }
    &-discord{
        font-size:12px;
    }
  &-image{
    display: block;
    margin: 2rem auto;
  }
}

.menu{
    &-item{
        list-style: none;
    }
    &-link{
        text-decoration: none;
    }
}