.header{
    background: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &-logo{
        width:20%;
    }
    &-button{
        text-decoration: none;
    }
    &-discord{
        font-size:12px;
    }
    &-image{
        display: block;
        margin: 2rem auto;
    }
    &-mobile{
        display:none;
    }
}

.menu{
    &-item{
        list-style: none;
    }
    &-link{
        text-decoration: none;
    }
}
@media only screen and (max-width:1200px){
    .header{
        &-buttons{
            display:none !important;
        }
        &-menu{
            display: none !important;
        }
        &-mobile{
            display:block;
        }
    }

}