.play{
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    margin-top: -16em;
    background-size:cover;
    position:relative !important;
    &-title{
        text-align: center;
    }
}
.image{
    position:relative;
}
